@layer quest {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		height: 100vh;
	}

	body {
		display: flex;

		perspective:1500px;

		width: 100vw;
		height: 100vh;

		overflow: hidden;

		background-color: rgb(190, 54, 190);
	}

	aside {
		position: absolute;
		width: 80vw;
		left: 10vw;
		top: 1em;

		padding-block: 0.5em;
		padding-inline: 2ch;

		border-radius: .5em;

		letter-spacing: .5ch;

		color: white;
		background: black;

		&::first-letter {
			font-size: 2em;
			color: rgb(200, 179, 62);
		}
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;

		max-width: 100vw;
		width: 100vw;
		height: 100%;


		overflow: visible;

		transform:  rotateX(40deg);
	}

	img {

	}

	canvas {
		background-color: rgb(85, 156, 244);
	}

	@media (orientation: landscape) {
		canvas {
		}
	}
}