@layer quest {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;



		/* for alt text */
		font-style: italic;
	}

	html {
		height: 100vh;
	}

	body {
		display: grid;

		/* perspective: 50px; */

		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "full";

		width: 100vw;
		height: 100vh;

		overflow: hidden;

		background-color: rgb(190, 54, 190);
	}

	aside {
		grid-area: full;
		position: absolute;
		width: 80vw;
		left: 10vw;
		top: 1em;

		padding-block: 0.5em;
		padding-inline: 2ch;

		border-radius: .5em;

		letter-spacing: .5ch;

		color: white;
		background: black;

		&::first-letter {
			font-size: 2em;
			color: rgb(200, 179, 62);
		}
	}

	main {
		grid-area: full;
		display: flex;

		justify-content: center;
		align-items: center;

		max-width: 100vw;
		width: 100vw;
		height: 100%;


		overflow: hidden;

		/* perspective: 500px; */
		/* perspective-origin: center; */
		/* transform:  rotateX(40deg); */
	}

	img {

	}

	canvas {
		background-color: rgb(85, 156, 244);
		/* transform:  rotateX(30deg); */
	}

	@media (orientation: landscape) {
		canvas {
		}
	}

	body:has(main > canvas[data-pause]) > dialog#dialogPause {
		display: block;
	}


	/* section {
		grid-area: full;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	} */

	dialog {
		--effect-color: white;

		/* position: absolute; */
		/* display: block; */
		margin-inline: auto;

		margin-block-start: 5em;

		min-width: 50%;
		padding-inline: 2ch;
		padding-block: 1em;
		border-radius: 0.5em;
		border: none;

		border: 1px solid white;
		box-shadow: 0 0 15px 5px black, 0 0 100px 15px var(--effect-color);

		&::backdrop {
			background-color: hsl(from black h s l / .8);
		}

		@media (max-width: 500px) {
			width: 85vw;
		}
	}

	#dialogError {
		--effect-color: oklab(0.4 0.16 0.09);
	}

	dialog > span {
		display: block;
		font-size: 1.5em;
		text-transform: uppercase;
		font-family: sans-serif;
		margin-block-end: 1em;
	}

	ul {
		list-style: none;

		& > li {
			/* border: 1px solid white; */
			/* padding-inline: 1ch; */
			/* padding-block: 0.5em; */
			/* border-radius: .25em; */
			/* margin-block: .25em; */
		}
	}

	ul#snapshotsList {

		& > li {
			margin-block-start: 0.5em;
			padding: 0;
		}

		& > li > button {
			display: grid;
			grid-template-areas: "icon name" "icon description";
			grid-template-columns: min-content 1fr;

			width: 100%;
			padding-block: .5em;
			padding-inline-start: 2ch;

			color: black;
			border: 1px solid white;
			border-radius: 0.25em;

			transition: background-color .5s, color .5s;

			&:hover {
				background-color:  white;
				color: black;
			}

			& > [part="icon"] {
				display: inline;
				grid-area: icon;

				align-self: center;
				font-size: 2em;

				&:not(:empty) {
					padding-inline-end: 1ch;
				}
			}

			& > [part="name"] {
				display: block;
				grid-area: name;

				justify-self: start;

				font-weight: bold;

				margin-block: 0.5em;
			}

			& > [part="description"] {
				display: block;
				grid-area: description;

				justify-self: start;
			}
		}
	}


	button[data-icon] {
		background-color: transparent;
		border: none;
		font-size: 1em;
		margin-block: 0.5em;
	}

}